<!--====Home section Start====-->
<section class="home section" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">
                    Hello, my name is <span class="name">Dipendra Pratap</span>
                </h3>
                <h3 class="my-profession">
                    I' m a <span class="typing">Data Scientist</span>
                </h3>
                <p class="text">
                    I'm a data scientist with extensive internship experience for
                    over 2 years. My expertise is to cleaning data and crating a
                    good model for best data prediction. I you want to say,- who i am you can say Machine Learning
                    Engineer ,Computer
                    Vision,Natural Language Processing and many more.....
                </p>
                <a href="#contact" class="btn hire-me">More About Me</a>
            </div>
            <div class="home-img padd-15">
                <img src="{{url_for('static',filename='images/d1.jpg')}}" alt="" />
            </div>
        </div>
    </div>
</section>
<!--====Home section End====-->